* {
  box-sizing: border-box;
  font-size: 14px;
}

.mechanicsSimulationContainer {
  height: 100vh;
  width: 100vw;
  display: flex;

  .mechanicsSimulationContentContainer {
    width: 70%;

    .mechanicsSimulationButtons {
      display: flex;
      justify-content: space-between;
    }
  }

  .mechanicsSimulationEquationContainer {
    width: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;

    .mechanicsSimulationControls {
      display: flex;
      justify-content: space-between;
    }

    .slider {
      margin-top: 0.5em;
    }
  }
}

.coordinateSystem {
  z-index: -100;
}

th,
td {
  border-collapse: collapse;
  padding: 1em;
}

table {
  min-width: 300px;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

button {
  z-index: 5000;
}

.wordProblemBox {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-top: 10px;
  padding: 10px;
}

.answer-inactive {
  pointer-events: none;
}
